backend/env/
backend/.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.installed.cfg

# Django
db.sqlite3
media/
staticfiles/

# Node.js/Vite
node_modules/
dist/
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Editor/IDE
.idea/
.vscode/
*.sublime-*
.DS_Store

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local